.github/
.gitignore
.gitmodules
.git/

*.md

.dockerignore
Dockerfile
docker-compose.yml
build/
*.log

.DS_Store

internal/lavalink/application.prod.yml
.prod.env
application.prod.yml.out
.prod.env.out
__backups/